@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.container {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  display: flex;
  align-items: flex-end;
  background-color: rgb(181, 229, 31);
  padding: 20px;
}

.avatar {
  margin: 0 20px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.content {
  display: flex;
  position: relative;
  background-color: rgb(8, 33, 2);
  border-radius: 10px 10px 10px 0;
}


.content::before {
  content: "";
  position: absolute;

  bottom: 0;
  left: -10px;
  border: 10px solid transparent;
  border-right: 10px solid rgb(8, 33, 2);
  border-bottom: 10px solid rgb(8, 33, 2);
}

.content_text {
  align-self: center;
  margin: 10px;
}

.content_time {
  align-self: flex-end;
  margin: 5px 10px;
}

.name {
  color: rgb(165, 156, 204);
  font-weight: 500;
}

.message {
  color: rgb(216, 222, 211);
}

.time {
  color: rgb(43, 68, 37)
}