@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {box-sizing: border-box;}

.wrapper {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  max-width: 1170px;
  margin: 0px auto;
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    "header"
    "nav"
    "content";
}

.wrapper > * {
  border: 2px solid #ffc07c;
  background-color: #fff2e1;
  border-radius: 5px;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: 1fr 5fr;
    grid-template-areas: 
      "header header"
      "nav    content";
    grid-gap: 20px;

  }
  nav {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.content {
  grid-area: content;
  padding: 10px;
  min-height: 60vh;
}
